@import '../../style/colors.scss';

.rootContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: $backgroundColor;
  overflow: hidden;
}

.contentContainer {
  width: 60vw;
  height: 100vw;
  border-right: 0.1px solid rgb(80, 80, 80);
  overflow-y: scroll;
}

.rightContainer {
  flex: 1;
}